version: "3.8"

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "postgresql://postgres:password@database:5432/mydb"
    depends_on:
      - database

  database:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - ./data:/var/lib/postgresql/data

volumes: {}
