name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/Checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          build-args: DATABASE_URL=${{ secrets.DATABASE_URL }}
          push: true
          tags: "hellosircodeplay/ci-cd:${{ github.sha }}"

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo docker pull hellosircodeplay/ci-cd:${{ github.sha }}
            sudo docker stop ci-cd-container || true
            sudo docker rm ci-cd-container || true
            sudo docker run -d --name ci-cd-container -p 80:3000 -e DATABASE_URL=${{ secrets.DATABASE_URL }} hellosircodeplay/ci-cd:${{ github.sha }}
